* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, 'Lucida Grande', sans-serif;
    color: #333;
}

a {
    color: #1166ff;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333;
    margin-bottom: 10px;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 18px;
}

h3 {}

h4 {}

h5 {}

h6 {}

header {
    height: 60px;
    background-color: #fff;
    border-bottom: 1.5px solid #dbdbdb;
    border-color: #1166ff;
    padding-left: 0px;
    border-bottom-width: 2px;
}

header .header-container {
    height: 60px;
    overflow: hidden;
    position: relative;
}

header ul {
    padding-left: 8%;
    height: 60px;
    position: relative;
    display: inline-block;
}

header li {
    height: 60px;
    display: flex;
}

.logo {
    display: block;
    margin: auto 0;
}

.logo img {
    width: 150px;
    display: block;
    -webkit-filter: drop-shadow(1px 3px 3px rgba(0,0,0,0.4));
}

@media (max-width: 260px) {
    .logo {
        display: none;
    }
}

.search-container {
    width: 100%;
    margin: 0 auto;
    padding: 15px 0;
    background-color: #255fdb;
    position: absolute;
    display: block;
}

.search-container form {
    display: block;
}

@media (min-width: 640px) {
    #search-input {
    float: initial !important;
    width: 250px !important;
    margin: 0 auto !important;
    }
}

#search-input {
    margin-right: 10%;
    float: right;
    width: 200px;
    padding: 5px 0;
    background-color: #fafafa;
    border: solid 1px #dbdbdb;
    border-radius: 3px;
    color: #333;
    font-size: 16px;
    text-align: center;
    outline: none;
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#search-input:focus {
    outline: none;
    outline-width: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.header-widgets {
    padding-top: 20px;
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
}

.header-widgets .fb-like {
    display: none;
}

@media (min-width: 430px) {
    .header-widgets .fb-like {
        display: inline-block;
    }
}

.header-widgets .tw-follow {
    display: none;
}

@media (min-width: 768px) {
    .header-widgets .tw-follow {
        display: inline-block;
    }
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.index-flow {
    font-size: 0px;
    padding: 10px 0;
    background-color: #fff;
    text-align: center;
}

.index-table-container {
    width: 100%;
    padding: 0;
    vertical-align: top;
    display: block;
    overflow: hidden;
}

@media (min-width: 768px) {
    .index-table-container {
        width: calc((100%/ 8) - 30px - 20px);
        padding: 0 10px;
        vertical-align: top;
        display: inline-block;
    }
}

.index-table-container h2 {
    cursor: pointer;
}

.index-table-container h2 a {
    color: #333;
}

.index-table-container h2:hover,
.index-table-container h2.selected {
    color: #1166ff;
}

.index-table-container h2:hover a,
.index-table-container h2.selected a {
    color: #1166ff;
}

.index-table {
    width: 100%;
    padding: 0;
    border-spacing: 0;
    border-collapse: collapse;
    table-layout: fixed;
    display: block;
}

.index-table tbody {
    width: 100%;
    vertical-align: top;
    text-align: left;
    display: block;
}

.index-table tr {
    width: calc((100%/ 4) - 10px);
    padding: 5px;
    display: inline-block;
}

@media (min-width: 768px) {
    .index-table tr {
        width: 100%;
        padding: 0;
        display: block;
    }
}

.index-table td {
    text-align: center;
    display: block;
}

.index-image-container {
    width: calc(100%);
    position: relative;
    display: block;
}

.index-image-container:before {
    content: "";
    padding-top: 100%;
    display: block;
}

.index-image {
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #e5e5e5;
    background-color: #f5f5f5;
    object-fit: cover;
    display: block;
}

.index-link {
    width: 100%;
    padding: 5px 0 0 0;
    color: #333;
    font-size: 12px;
    display: block;
}

.index-link:hover {
    color: #ffc400;
}

.index-link:visited {
    color: #999;
}

@media (min-width: 640px) {
    .index-link {
        padding: 5px 0 10px 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.badge {
    position: relative;
    display: block;
}

.badge[data-badge]:after {
    content: attr(data-badge);
    position: absolute;
    top: -8px;
    right: -8px;
    font-size: 14px;
    background-color: #ffc400;
    color: #fff;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    border-radius: 50%;
    font-weight: bold;
}

.index-widgets {
    position: absolute;
    display: none;
}

@media (min-width: 1660px) {
    .index-widgets {
        display: block;
    }
}

.table-container {
    padding: 10px 0;
}

.table-container h1 {
    text-align: center;
    color: #141414;
}

.table-container h1:hover a {
    color: #ffc400;
}

.table {
    padding: 10px 0;
    border-spacing: 0;
    border-collapse: collapse;
    table-layout: fixed;
    overflow: hidden;
    display: block;
    text-align: left;
    font-size: 0px;
}

.table tbody {
    vertical-align: top;
    display: block;
}

.table tr {
    width: calc((100%/ 4) - 10px);
    padding: 5px;
    display: inline-block;
}

@media (min-width: 640px) {
    .table tr {
        width: calc((100%/ 5) - 20px);
        padding: 10px;
    }
}

@media (min-width: 1280px) {
    .table tr {
        width: calc((100%/ 6) - 20px);
        padding: 10px;
    }
}

.table td {
    width: 100%;
    text-align: center;
    display: block;
}

.table-image-container {
    width: calc(100%);
    position: relative;
    display: block;
}

.table-image-container:before {
    content: "";
    padding-top: 100%;
    display: block;
}

.table-image {
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #e5e5e5;
    background-color: #f5f5f5;
    object-fit: cover;
    display: block;
}

.table-link {
    padding-top: 5px;
    font-size: 12px;
    color: #333;
    display: block;
}

.table-link:hover {
    color: #1166ff;
}

.table-link:visited {
    color: #999;
}

.table-count {
    padding-top: 5px;
    font-size: 12px;
    display: block;
}

@media (min-width: 640px) {
    .table-link {
        font-size: 14px;
    }
    .table-count {
        font-size: 14px;
    }
}

.sort-container {
    padding-top: 25px;
}

.sort {
    padding: 0px 5px 0px 5px;
}

@media (min-width: 640px) {
    .sort-container {
        padding-top: 30px;
    }
    .sort {
        padding: 0px 10px 0px 10px;
    }
}

@media (min-width: 1280px) {
    .sort {}
}

.sort-button {
    display: inline-block;
    cursor: pointer;
    padding: 0px 5px 0px 0px;
}

.cover {
    width: 100%;
    height: 200px;
    background-color: #f5f5f5;
    overflow: hidden;
    position: relative;
}

@media (min-width: 640px) {
    .cover {
        height: 300px;
    }
}

@media (min-width: 1280px) {
    .cover {
        height: 400px;
    }
}

.cover-background {
    width: 100%;
    height: 100%;
    filter: blur(20px);
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
    margin: -1px;
    padding: 1px;
    object-fit: cover;
    display: block;
    background-color: #f5f5f5;
}

.cover-profile {
    width: 80px;
    height: 80px;
    object-fit: cover;
    position: absolute;
    border: 4px solid #fff;
    border-radius: 3px;
    top: calc((100% - 80px - 4px)/ 2 - 40px);
    left: calc((100% - 80px - 4px)/ 2);
    background-color: #fff;
}

@media (min-width: 640px) {
    .cover-profile {
        width: 125px;
        height: 125px;
        border-radius: 3px;
        top: calc((100% - 125px - 4px)/ 2 - 40px);
        left: calc((100% - 125px - 4px)/ 2);
    }
}

.cover h1 {
    width: 100%;
    position: absolute;
    top: calc((100% - 80px - 4px)/ 2 - 40px + 80px + 4px + 10px);
    left: 0;
    text-align: center;
    font-size: 16px;
    color: #333;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.cover h1 a {
    color: #fff;
}

.cover h1 a:hover {
    color: #1166ff;
}

@media (min-width: 640px) {
    .cover h1 {
        top: calc((100% - 125px - 4px)/ 2 - 20px + 125px + 4px + 10px);
        font-size: 32px;
    }
}

.cover-buttons {
    width: 100%;
    height: 30px;
    position: absolute;
    top: calc((100% - 80px - 4px)/ 2 - 40px + 80px + 4px + 15px + 25px);
    left: 0;
    text-align: center;
}

@media (min-width: 640px) {
    .cover-buttons {
        top: calc((100% - 125px - 4px)/ 2 - 20px + 125px + 4px + 10px + 50px);
    }
}

.cover-button {
    padding: 4px 12px;
    background-color: #ffc400;
    border-radius: 3px;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    display: inline-block;
}

@media (min-width: 640px) {
    .cover-button {
        font-size: 13px;
    }
}

.cover-button:hover {
    background-color: #a98103;
}

.cover-button-hidden {
    display: none;
}

.cover-buttons .tw-tweet {
    display: inline-block;
}

.cover-widgets {
    position: absolute;
    top: 10px;
    right: 10px;
}

.cover-widgets .fb-share-button {
    display: inline-block;
}

.cover-widgets .tw-tweet {
    display: inline-block;
}

.cover-facebook {
    position: absolute;
    top: 0;
    left: 0;
}

.cover-facebook .fb-page {
    display: none;
}

.cover-facebook .fb-like {
    padding: 10px 0 0 10px;
    display: block;
}

.epsidoe-info-container {
    padding-top: 10px;
    max-width: 720px;
    margin: 0 auto;
}

.episode-info {
    text-align: center;
    color: #fff;
    padding: 10px;
    font-size: 11px;
    font-weight: bold;
    background-color: #ffc400;
}

@media (min-width: 640px) {
    .epsidoe-info-container {
        padding-top: 20px;
    }
    .episode-info {
        font-size: 13px;
        border-radius: 3px;
    }
}

.episode-video {
    padding-top: 10px;
    text-align: center;
    position: relative;
}

.episode-video video {
    width: 100%;
    max-height: 320px;
    margin: 0 auto;
    background-color: #f5f5f5;
    display: block;
}

@media (min-width: 640px) {
    .episode-video {
        padding-top: 20px;
    }
    .episode-video video {
        max-width: 720px;
        max-height: 480px;
    }
}

.episode-video video:fullscreen {
    max-width: 100%;
    max-height: 100%;
}

.episode-video video:-webkit-full-screen {
    max-width: 100%;
    max-height: 100%;
}

.episode-video video:-moz-full-screen {
    max-width: 100%;
    max-height: 100%;
}

.episode-video video:-ms-fullscreen {
    max-width: 100%;
    max-height: 100%;
}

.episode-section-container {
    padding-top: 10px;
}

.episode-section-container-first {
    padding-top: 0;
}

@media (min-width: 640px) {
    .episode-section-container {
        padding-top: 20px;
    }
    .episode-section-container-first {
        padding-top: 10px;
    }
}

.episode-section {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    border-radius: 3px;
}

@media (min-width: 640px) {
    .episode-section {
        border: 1px solid #e5e5e5;
    }
}

.episode-section-title {
    padding: 10px 10px;
    background-color: #fff;
    border-bottom: 1px solid #e5e5e5;
    font-size: 14px;
}

.episode-section-title h4 {
    margin: 0;
}

.episode-section-item {
    padding: 15px 10px;
    font-size: 14px;
}

.episode-section-item a {
    color: #333;
}

.episode-section-item a:hover {
    color: #ffc400;
}

@media (min-width: 640px) {
    .episode-section-title {
        padding: 15px 20px;
    }
    .episode-section-item {
        padding: 15px 20px;
    }
}

.paging {
    padding: 20px 10px;
    text-align: center;
    border-spacing: 0;
    border-collapse: collapse;
    table-layout: fixed;
    display: block;
}

.paging ul {
    list-style: none;
    text-align: center;
    display: block;
}

.paging li {
    padding: 4px 4px;
    display: inline-block;
}

.paging a {
    padding: 4px 8px;
    font-size: 14px;
    border: 1px solid #c4cdda;
    display: inline-block;
    background-color: #fff;
    color: #555;
}

.paging a:hover,
a.selected {
    background-color: #1166ff;
    color: #fff;
    border: 1px solid #1166ff;
}

.article {
    margin: 0 auto;
    padding: 40px 20px;
    max-width: 720px;
    text-align: center;
}

.article h1 {
    text-align: center;
}

.article p {
    font-size: 13px;
    line-height: 24px;
    margin-bottom: 15px;
    text-align: justify;
}

.article-image {
    width: 100%;
    display: block;
}

footer {
    padding: 30px 10px;
    text-align: center;
}

footer a {
    padding: 0 5px;
    color: #666;
    font-size: 12px;
}

footer a:hover {
    color: #1166ff;
}

footer p {
    padding: 10px 0;
    color: #999;
    font-size: 12px;
}