<! DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">


    <link type="text/css" rel="stylesheet" href="/css/style.css?ts=2">


    <style type="text/css">
        .episode-video-ad-container{width:300px;height:250px;position:absolute;bottom:0;left:calc((100% - 300px)/ 2);display:block;text-align:center;z-index:9999;}.episode-video-ad-mobile{background-color:#f5f5f5;display:block;}.episode-video-ad-web{background-color:#f5f5f5;display:none;}@media (min-width: 720px) {.episode-video-ad-container{width:728px;height:90px;left:calc((100% - 728px)/ 2);}.episode-video-ad-mobile{display:none;}.episode-video-ad-web{display:block;}}.episode-video-ad-close{position:absolute;top:0;right:0;width:14px;height:14px;background-color:#eee;color:#00ced1;z-index:10000;text-align:center;font-size:12px;line-height:12px;cursor:pointer;}.episode-video-ad-close:hover{color:#fff;background-color:#666;}

    </style>
    <script type="text/javascript" charset="utf-8" async=""
            data-rocketsrc="https://platform.twitter.com/js/button.4e56ff84e57afaf5af2506ef73ab8a88.js"
            data-rocketoptimized="true"></script>
</head>
<body>
<div style="display: none;">
    <h1>월요일의 타와와 - 2화</h1>
    <p>월요일의 타와와 - 2화</p>
    <legend>월요일의 타와와 - 2화</legend>
    <img src="https://unknowncdn.com/WbVVbmekX2YsqRwaoPNSdst2JkMEBLGI/srydVHoqeKy0A9CQU1wFTLB0GoDesWjZ.jpg"
         alt="월요일의 타와와 - 2화">
</div>
<header>
    </script>
    <div class="header-container">
        <div class="search-container">
            <form onsubmit="return search();">
                <input id="search-input" type="text" placeholder="애니메이션 검색" value="">
                <input type="submit" style="display: none;">
            </form>
        </div>
        <ul>
            <li><a class="logo" href="/" title="애니갓"><img src="/img/anigod.png" alt="애니갓"></a></li>
        </ul>
        <div class="header-widgets">
            <div class="fb-like fb_iframe_widget" data-href="https://www.facebook.com/anigod/"
                 data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"
                 fb-xfbml-state="rendered"
                 fb-iframe-plugin-query="action=like&amp;app_id=973677452702266&amp;container_width=0&amp;href=https%3A%2F%2Fwww.facebook.com%2Fanigod%2F&amp;layout=button_count&amp;locale=ko_KR&amp;sdk=joey&amp;share=false&amp;show_faces=false">
                <span style="vertical-align: top; width: 0px; height: 0px; overflow: hidden;"><iframe
                        name="f2674b87f936918" width="1000px" height="1000px" frameborder="0" allowtransparency="true"
                        allowfullscreen="true" scrolling="no" title="fb:like Facebook Social Plugin"
                        src="https://www.facebook.com/v2.7/plugins/like.php?action=like&amp;app_id=973677452702266&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2FfTmIQU3LxvB.js%3Fversion%3D42%23cb%3Dfc01d6a4c63d5%26domain%3Danigod.com%26origin%3Dhttps%253A%252F%252Fanigod.com%252Ff36546442c889a8%26relation%3Dparent.parent&amp;container_width=0&amp;href=https%3A%2F%2Fwww.facebook.com%2Fanigod%2F&amp;layout=button_count&amp;locale=ko_KR&amp;sdk=joey&amp;share=false&amp;show_faces=false"
                        style="border: none; visibility: visible; width: 0px; height: 0px;"></iframe></span></div>
            <div class="tw-follow">
                <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true"
                        class="twitter-follow-button twitter-follow-button-rendered" title="Twitter Follow Button"
                        src="https://platform.twitter.com/widgets/follow_button.39f7ee9fffbd122b7a37a520dbdaebc6.ko.html#dnt=false&amp;id=twitter-widget-0&amp;lang=ko&amp;screen_name=anigodcom&amp;show_count=true&amp;show_screen_name=false&amp;size=m&amp;time=1476820511970"
                        data-screen-name="anigodcom"
                        style="position: absolute; visibility: hidden; width: 0px; height: 0px;"></iframe>
                <script type="text/rocketscript" data-rocketoptimized="true">
                    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
                </script>
    </div>
    </div>
    </div>
</header>
<div class="cover">
    <img class="cover-background"
         src="https://unknowncdn.com/WbVVbmekX2YsqRwaoPNSdst2JkMEBLGI/srydVHoqeKy0A9CQU1wFTLB0GoDesWjZ.jpg">
    <img class="cover-profile"
         src="https://unknowncdn.com/WbVVbmekX2YsqRwaoPNSdst2JkMEBLGI/srydVHoqeKy0A9CQU1wFTLB0GoDesWjZ.jpg">
    <h1><a href="/episode/%ec%9b%94%ec%9a%94%ec%9d%bc%ec%9d%98-%ed%83%80%ec%99%80%ec%99%80-2%ed%99%94-29541">월요일의 타와와 -
        2화</a></h1>
    <div class="cover-buttons">
        <script type="text/rocketscript" data-rocketoptimized="true">
  	  var getDate = function(timestamp) {
	    var date = new Date(timestamp * 1000);
	    var funcs = ['getFullYear', 'getMonth', 'getDate', 'getHours', 'getMinutes', 'getSeconds'];
	    var prefix = ['', '-', '-', ' ', ':', ':'];
	    var format = '';
	    for (var i = 0, len = funcs.length; i < len; i++) {
	      var value = date[funcs[i]]();
	      if (funcs[i] == 'getMonth') value += 1;
	      if (value < 10) value = '0' + value;
	      format = format + prefix[i] + value;
	    }
	    return format;
	  }


        </script>
        <a class="cover-button" href="/animation/%ec%9b%94%ec%9a%94%ec%9d%bc%ec%9d%98-%ed%83%80%ec%99%80%ec%99%80-1694"
           title="월요일의 타와와">목록보기</a>
        <a class="cover-button" href="https://netmics.com/" title="월요일의 타와와 - 2화">월요일의 타와와 - 2화</a>
        <a class="cover-button-hidden" href="https://itorrent.io/" title="월요일의 타와와 - 2화">월요일의 타와와 - 2화</a>
    </div>
    <div class="cover-widgets">
        <div class="fb-share-button fb_iframe_widget"
             data-href="https://anigod.com/episode/%ec%9b%94%ec%9a%94%ec%9d%bc%ec%9d%98-%ed%83%80%ec%99%80%ec%99%80-2%ed%99%94-29541"
             data-layout="button" data-mobile-iframe="true" fb-xfbml-state="rendered"
             fb-iframe-plugin-query="app_id=973677452702266&amp;container_width=0&amp;href=https%3A%2F%2Fanigod.com%2Fepisode%2F%25ec%259b%2594%25ec%259a%2594%25ec%259d%25bc%25ec%259d%2598-%25ed%2583%2580%25ec%2599%2580%25ec%2599%2580-2%25ed%2599%2594-29541&amp;layout=button&amp;locale=ko_KR&amp;mobile_iframe=true&amp;sdk=joey">
            <span style="vertical-align: top; width: 0px; height: 0px; overflow: hidden;"><iframe name="f146357ed7c0c8"
                                                                                                  width="1000px"
                                                                                                  height="1000px"
                                                                                                  frameborder="0"
                                                                                                  allowtransparency="true"
                                                                                                  allowfullscreen="true"
                                                                                                  scrolling="no"
                                                                                                  title="fb:share_button Facebook Social Plugin"
                                                                                                  src="https://www.facebook.com/v2.7/plugins/share_button.php?app_id=973677452702266&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2FfTmIQU3LxvB.js%3Fversion%3D42%23cb%3Df105203fdd2c7dc%26domain%3Danigod.com%26origin%3Dhttps%253A%252F%252Fanigod.com%252Ff36546442c889a8%26relation%3Dparent.parent&amp;container_width=0&amp;href=https%3A%2F%2Fanigod.com%2Fepisode%2F%25ec%259b%2594%25ec%259a%2594%25ec%259d%25bc%25ec%259d%2598-%25ed%2583%2580%25ec%2599%2580%25ec%2599%2580-2%25ed%2599%2594-29541&amp;layout=button&amp;locale=ko_KR&amp;mobile_iframe=true&amp;sdk=joey"
                                                                                                  style="border: none; visibility: visible; width: 0px; height: 0px;"></iframe></span>
        </div>
        <div class="tw-tweet">
            <iframe id="twitter-widget-2" scrolling="no" frameborder="0" allowtransparency="true"
                    class="twitter-share-button twitter-share-button-rendered twitter-tweet-button"
                    title="Twitter Tweet Button"
                    src="https://platform.twitter.com/widgets/tweet_button.39f7ee9fffbd122b7a37a520dbdaebc6.ko.html#dnt=false&amp;id=twitter-widget-2&amp;lang=ko&amp;original_referer=https%3A%2F%2Fanigod.com%2Fepisode%2F%25ec%259b%2594%25ec%259a%2594%25ec%259d%25bc%25ec%259d%2598-%25ed%2583%2580%25ec%2599%2580%25ec%2599%2580-2%25ed%2599%2594-29541&amp;size=m&amp;text=%EC%9B%94%EC%9A%94%EC%9D%BC%EC%9D%98%20%ED%83%80%EC%99%80%EC%99%80%20-%202%ED%99%94%20-%20%EC%95%A0%EB%8B%88%EA%B0%93&amp;time=1476820511972&amp;type=share&amp;url=https%3A%2F%2Fanigod.com%2Fepisode%2F%25ec%259b%2594%25ec%259a%2594%25ec%259d%25bc%25ec%259d%2598-%25ed%2583%2580%25ec%2599%2580%25ec%2599%2580-2%25ed%2599%2594-29541"
                    style="position: absolute; visibility: hidden; width: 0px; height: 0px;"></iframe>
        </div>
    </div>
    <div class="cover-facebook">
        <div class="fb-page fb_iframe_widget" data-href="https://www.facebook.com/anigod/" data-width="300"
             data-hide-cover="false" data-show-facepile="false" data-show-posts="false" hide_cta="true"
             fb-xfbml-state="rendered"
             fb-iframe-plugin-query="app_id=973677452702266&amp;container_width=0&amp;hide_cover=false&amp;hide_cta=true&amp;href=https%3A%2F%2Fwww.facebook.com%2Fanigod%2F&amp;locale=ko_KR&amp;sdk=joey&amp;show_facepile=false&amp;show_posts=false&amp;width=300">
            <span style="vertical-align: top; width: 0px; height: 0px; overflow: hidden;"><iframe name="f127c3d55fae344"
                                                                                                  width="300px"
                                                                                                  height="1000px"
                                                                                                  frameborder="0"
                                                                                                  allowtransparency="true"
                                                                                                  allowfullscreen="true"
                                                                                                  scrolling="no"
                                                                                                  title="fb:page Facebook Social Plugin"
                                                                                                  src="https://www.facebook.com/v2.7/plugins/page.php?app_id=973677452702266&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2FfTmIQU3LxvB.js%3Fversion%3D42%23cb%3Df2ffbcd59a1c968%26domain%3Danigod.com%26origin%3Dhttps%253A%252F%252Fanigod.com%252Ff36546442c889a8%26relation%3Dparent.parent&amp;container_width=0&amp;hide_cover=false&amp;hide_cta=true&amp;href=https%3A%2F%2Fwww.facebook.com%2Fanigod%2F&amp;locale=ko_KR&amp;sdk=joey&amp;show_facepile=false&amp;show_posts=false&amp;width=300"
                                                                                                  style="border: none; visibility: visible; width: 0px; height: 0px;"></iframe></span>
        </div>
        <div class="fb-like fb_iframe_widget" data-href="https://www.facebook.com/anigod/" data-layout="button_count"
             data-action="like" data-show-faces="false" data-share="false" fb-xfbml-state="rendered"
             fb-iframe-plugin-query="action=like&amp;app_id=973677452702266&amp;container_width=0&amp;href=https%3A%2F%2Fwww.facebook.com%2Fanigod%2F&amp;layout=button_count&amp;locale=ko_KR&amp;sdk=joey&amp;share=false&amp;show_faces=false">
            <span style="vertical-align: top; width: 0px; height: 0px; overflow: hidden;"><iframe name="f2ce8f803925c8"
                                                                                                  width="1000px"
                                                                                                  height="1000px"
                                                                                                  frameborder="0"
                                                                                                  allowtransparency="true"
                                                                                                  allowfullscreen="true"
                                                                                                  scrolling="no"
                                                                                                  title="fb:like Facebook Social Plugin"
                                                                                                  src="https://www.facebook.com/v2.7/plugins/like.php?action=like&amp;app_id=973677452702266&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2FfTmIQU3LxvB.js%3Fversion%3D42%23cb%3Df3de7164b381bdc%26domain%3Danigod.com%26origin%3Dhttps%253A%252F%252Fanigod.com%252Ff36546442c889a8%26relation%3Dparent.parent&amp;container_width=0&amp;href=https%3A%2F%2Fwww.facebook.com%2Fanigod%2F&amp;layout=button_count&amp;locale=ko_KR&amp;sdk=joey&amp;share=false&amp;show_faces=false"
                                                                                                  style="border: none; visibility: visible; width: 0px; height: 0px;"></iframe></span>
        </div>
    </div>
    <div class="cover-twitter">
        <div class="tw-follow">
            <iframe id="twitter-widget-1" scrolling="no" frameborder="0" allowtransparency="true"
                    class="twitter-follow-button twitter-follow-button-rendered" title="Twitter Follow Button"
                    src="https://platform.twitter.com/widgets/follow_button.39f7ee9fffbd122b7a37a520dbdaebc6.ko.html#dnt=false&amp;id=twitter-widget-1&amp;lang=ko&amp;screen_name=anigodcom&amp;show_count=false&amp;show_screen_name=false&amp;size=m&amp;time=1476820511971"
                    style="position: absolute; visibility: hidden; width: 0px; height: 0px;"
                    data-screen-name="anigodcom"></iframe>
            <script type="text/rocketscript" data-rocketoptimized="true">
                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

            </script>
        </div>
    </div>
</div>
<div id="episode" class="container" itemscope="" itemtype="http://schema.org/TVSeries">
    <meta itemprop="name" content="월요일의 타와와">
    <meta itemprop="description" content="월요일의 타와와">
    <meta itemprop="thumbnailUrl"
          content="https://awscontent.com/0SPwYAq2JjZg1BNCVLZUUtJHn37ZgNK6/8BzXprjp8Ll08x6pGLuGyTrSP0HXZwwR.jpg">
    <meta itemprop="url" content="https://anigod.com/animation/월요일의-타와와-1694">
    <meta itemprop="genre" content="animation">
    <div itemscope="" itemtype="http://schema.org/TVEpisode">
        <meta itemprop="name" content="2화">
        <meta itemprop="description" content="월요일의 타와와 2화">
        <meta itemprop="url" content="https://anigod.com/episode/월요일의-타와와-2화-29541">

        <div class="episode-video">

            <video id="video"
                   poster="https://unknowncdn.com/WbVVbmekX2YsqRwaoPNSdst2JkMEBLGI/srydVHoqeKy0A9CQU1wFTLB0GoDesWjZ.jpg"
                   itemprop="video" itemscope="" itemtype="http://schema.org/VideoObject" controls="">
                <meta itemprop="name" content="월요일의 타와와 2화">
                <meta itemprop="description" content="월요일의 타와와 2화">
                <meta itemprop="url" content="https://anigod.com/episode/월요일의-타와와-2화-29541">
                <meta itemprop="thumbnail"
                      content="https://unknowncdn.com/WbVVbmekX2YsqRwaoPNSdst2JkMEBLGI/srydVHoqeKy0A9CQU1wFTLB0GoDesWjZ.jpg">
                <meta itemprop="thumbnailUrl"
                      content="https://unknowncdn.com/WbVVbmekX2YsqRwaoPNSdst2JkMEBLGI/srydVHoqeKy0A9CQU1wFTLB0GoDesWjZ.jpg">
                <meta itemprop="uploadDate" content="2016-10-17 01:18:48.544291 +0000 +0000">
                <source type="video/mp4"
                        src="/video?id=79z8qM7ADUFuiLFlSz5kfnNvo51mw7tqVHb7KXo0K%2BpM8kd36ZVh59NloJ%2BiL9sXrxwtPAVYevQYkJCUf636PivNoACAsS1ePeyw%2BTi9ZX45r3gRdet08H7vR0qKUCHzOHiLA%2FTQ5wQ02uR6&amp;ts=1476820511345">
            </video>
        </div>
    </div>

    <div id="facebook-share-promotion" class="episode-section-container" style="display: none;">
        <div class="episode-section">
            <div class="episode-section-title"><h4>친구에게 추천하고 광고 제거하기</h4></div>
            <div class="episode-section-item">
                <a class="facebook-fb-share-button" onclick="shareEpisode();" target="_top"></a>
            </div>
        </div>
    </div>


</div>

<footer>
    <div class="container">
        <p>
            <a href="/about" title="소개">소개</a>
            <a href="/faq" title="자주하는 질문">자주하는 질문</a>
            <a href="/contact" title="연락처">연락처</a>
            <a href="https://twitter.com/anigodcom/" title="트위터">트위터</a>
            <a href="https://www.facebook.com/anigod/" title="페이스북">페이스북</a>
        </p>
        <p>© 2016 애니갓</p>
    </div>
</footer>


</body>
</html>